  <style>
        @import url('https://fonts.googleapis.com/css?family=Merriweather');
    body{
        background-color:black;
        margin:0;
		font-size:15px;
        }
	#banner{
		background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSXQImKSwOeYIaG_5rcTAIgbNJfC0tMoceYjwZVG_KxBGZ5yF_");
		margin:0 auto;
		text-align:center;
	    width:650px; 
	    border-radius:10px;
	    margin:0 auto;
	    text-align:center;
	    box-shadow: 10px 10px 5px #888;
	    }
	#wrapper{
		display: flex;
		width: 100%;
		}
	#nav{
		white-space: nowrap;
		text-align: center;
		}
	#nav a{
	    font-family: 'Merriweather', serif;
	    font-weight:bold;
	    color: #AB113D;
	    text-transform: uppercase;
		margin-right: 10px;
		padding: 10px;
		
	    }
    #main{
        width:500px;
		border: 2px solid white;
		padding:10px; 
        }
	#side{
		float:right;
		margin-left:15;
		padding-right:30px;
	    width:200px;
	    border: 2px solid white;
	    }
	.imgRight{
		float:right;
		margin-left:15;
		}
	#footer{
		width:100px;
		margin-left: auto;
		margin-right: auto;
		font-family: Arial;
		color:white;
		font-size:14px;
		text-transform: uppercase;
		padding-top:100px;
		}

</style>